.wrapper{
	position: relative;
	clear: both;
	zoom: 1;
}
.table{
	display: table;
	width: 100%;
	margin-bottom: 18px;
	& .row{
		display: table-row;
		cursor: pointer;
		& .cell{
			display: table-cell;
			padding: 5px;
			& a{
				margin-right: 5px;
				color: #bada55;
			}
		}
		& .header{
			display: table-cell;
			padding: 10px 5px;
			font-weight: bold;
			border-bottom: 1px solid #ccc;
		}
		&.active{
			color: #e7505a!important;
		}
		&.create{
			color: #5cb85c;
		}
	}
}