.group{
	margin-bottom: 5px;
	& label{
		color: inherit;
		display: inline-block;
		margin-bottom: 5px;
		max-width: 100%;
	}
	& input, & textarea, & select{
		width: 100%;
		height: 28px;
		padding: 5px;
		background-color: #fff;
		border: 1px solid #c2cad8;
	}
	&.error{
		& label{
			color: #e73d4a;
		}
		& input, & textarea{
			background-color: #e73d4a;
			border-color: #e31d2d;
		}
	}
}

label.required:after{
	content: " *";
	color: #e73d4a;
}